<li id="{{_id}}" class="span3">
  <div class="thumbnail">
    <a href="#">
      <img src="uploads/{{filename}}" alt="">
    </a>
    <div class="caption">
      <h5>{{title}}</h5>
      <p>{{description}}</p>
      <p>
        <a href="#" class="btn btn-mini btn-danger like" data-id="{{_id}}"><i class="icon-heart icon-white"></i> <span>{{likes}}</span></a>
        <a href="#" class="btn btn-mini delete" data-id="{{_id}}"><i class="icon-remove"></i> delete</a>
      </p>
    </div>
  </div>
</li>